{% extends "base.html" %}

{% block content %}
    <div class="forms">
        <h1>Log in!</h1>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button>Login</button>
        </form>
    </div>
{% endblock content %}
