{% extends "base.html" %}

{% block content %}
    <div class="forms">
        <div>Create a new task</div>
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button>Create</button>
        </form>
    </div>
{% endblock content %}
